<div *ngIf="!count">
  <mat-card (click)="toggleDescription()" *ngIf="!status.timestatus || status.timestatus - counterService.count >= 0" [ngStyle]="{background: status.colorcode}">
    <h4>{{status.namestatus}}</h4>
    <p *ngIf="status.timestatus">{{status.timestatus - counterService.count}} Seconds Left</p>
    <p *ngIf="descriptionOpen && status.description">{{status.description}}</p>
    <button mat-raised-button color="accent" *ngIf="descriptionOpen">Delete Status</button>
  </mat-card>
</div>
<div *ngIf="count">
  <mat-card (click)="toggleDescription()" *ngIf="!status.timestatus || status.timestatus - count >= 0" [ngStyle]="{background: status.colorcode}">
    <h4>{{status.namestatus}}</h4>
    <p *ngIf="status.timestatus">{{status.timestatus - count}} Seconds Left</p>
    <p *ngIf="descriptionOpen && status.description && status.playerDescription">{{status.description}}</p>
  </mat-card>
</div>

