mat-card {
    position: relative;
}

.headerShell {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px
}

h1 {
    font-size: 30px;
}

h2 {
    background: #990000;
    padding: 5px;
    font-size: 30px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding-left: 15px
}

.backButton {
    margin-left: 15px
}

.disabled:hover {
    background: rgb(224 224 224) !important
}

.divider {
    border-top: 1px black solid;
    border-bottom: 1px black solid;
    min-height: 10px;
    margin: 15px 0
}

.workspaceShell {
    display: flex;
    justify-content: space-between;
}

.workspaceShell .left, .workspaceShell .right {
    width: 49%;
}

.workspaceShell .left .innerShell, .workspaceShell .right .innerShell {
    background: lightgray;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 15px;
}

.battleHashShell {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.battleHashShell p {
    background: white;
    padding: 7px;
    border-radius: 5px;
    text-align: center;
    width: 30%
}