mat-card {
    position: relative;
}

.headerShell {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px
}

.headerInput {
    font-size: 30px;
    width: 75%;
    color: #990000;
    font-family: 'vinque';
    border: 0;
    border-bottom: 1px solid lightgray;
}

.headerInput:focus {
    outline: none;
}

h2 {
    background: #990000;
    padding: 5px;
    font-size: 30px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding-left: 15px
}

.lowerHeader {
    font-size: 25px;
    background: #222;
}

.backButton {
    margin-left: 15px
}

.disabled:hover {
    background: rgb(224 224 224) !important
}

.statusShell {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.workspaceShell {
    display: flex;
    justify-content: space-between;
}

.workspaceShell .left, .workspaceShell .right {
    width: 49%;
}

.workspaceShell .left .innerShell, .workspaceShell .right .innerShell {
    background: lightgray;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 15px;
}

h4 {
    font-size: 20px;
}

.battleHashShell {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "ancient";
    margin-bottom: 10px;
}

.battleHashShell p {
    background: white;
    padding: 7px;
    border-radius: 5px;
    text-align: center;
    width: 30%
}

.deadShell {
    display: flex;
    justify-content: space-between;
}

.deadShell div {
    display: flex;
}

.deadNameShell {
    width: 50%;
    justify-content: start;
}

.deadNameShell p {
    margin-left: 15px
}

.deadIconShell {
    width: 10%;
    justify-content: space-between;
    margin-right: 15px;
}

.icon {
    width: 10%;
}

i:hover {
    color: #b45f06; 
}

.fa-save:hover, .fa-chevron-right:hover {
    color: inherit
}

.fighterColor {
    height: 15px;
    width: 15px;
    border-radius: 15px;
    border: 1px solid;
}

.fa-spinner {
    animation: spin 2s linear infinite;
}

.topExpansionHeader {
    margin-top: 15px
}

.mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:not([aria-disabled='true']):hover {
    background: inherit;
}

.mat-checkbox, .mat-expansion-panel-header-title {
    font-family: "ancient";
    font-size: 20px;
}

.mat-accordion .mat-expansion-panel:first-of-type {
    margin-top: 10px;
}

.mat-expansion-panel-header {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
}

.mat-expansion-panel-header:hover, .mat-expansion-panel-header:focus {
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: right !important;
    background: rgba(0, 0, 0, 0);
}

.addFighterHeader {
    background-image: url(../../../../../assets/newFighter.jpg);
}

.addFighterHeader:hover, .addFighterHeader:focus {
    background-image: url(../../../../../assets/newFighter.jpg) !important;
}

.addStatusHeader {
    background-image: url(../../../../../assets/newStatus.jpg);
}

.addStatusHeader:hover,.addStatusHeader:focus {
    background-image: url(../../../../../assets/newStatus.jpg) !important;
}

.editStatusShell {
    width: 350px;
    margin: 0 auto 15px;
    padding: 10px;
    border-radius: 5px;
    background: lightgrey;
}

.encounterShell {
    margin-top: 15px
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media (max-width: 800px) { 
    .workspaceShell {
        flex-direction: column;
        align-items: center;
    }

    .workspaceShell .left, .workspaceShell .right {
        width: 100%;
        max-width: 500px;
    }

    .left {
        margin-bottom: 15px;
    }
}

@media (max-width: 500px) {
    mat-card {
        border-radius: 0;
        padding: 10px 0;
    }

    h2 {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    .headerShell {
        flex-direction: column;
    }

    .headerInput {
        width: 100%;
        margin-bottom: 10px;
        text-align: center;
    }

    .battleHashShell p {
        display: none
    }

    .workspaceShell .left .innerShell, .workspaceShell .right .innerShell {
        padding: 5px;
        border-radius: 0;
    }
}