<mat-card>
  <div class="headerShell">
    <h1>{{counterService.name}}</h1>
    <div>
      <button mat-raised-button color="accent" matTooltip="Save"><i class="fas fa-save"></i></button>
      <!-- make the icon spin when it is autosaving -->
      <button class="disabled" mat-raised-button disabled matTooltip="Autosaving"><i class="fas fa-spinner"></i></button>
      <button class="backButton" mat-raised-button color="warn" [routerLink]="['/field']"  matTooltip="Back to Fields"><i class="fas fa-chevron-right"></i></button>
    </div>
  </div>

  <app-counter></app-counter>

  <h2>On Deck</h2>
  <app-fighter-section [type]="'0'"></app-fighter-section>

  <h2>Acting</h2>
  <app-fighter-section [type]="'1'"></app-fighter-section>

  <div class="workspaceShell">
    <div class="left">
      <h2 class="lowerHeader">The Dead</h2>
      <div class="innerShell">
        <div *ngFor="let fighter of counterService.fighters">
          <div *ngIf="fighter.dead === '1'" class="deadShell">
            <div class="deadNameShell">
              <div class="icon">
                <div [ngStyle]="{background: fighter.colorcode}" class="fighterColor"></div>
              </div>
              <p>{{fighter.namefighter}}</p>
            </div>
            <div class="deadIconShell">
              <p class="icon"><i class="fas fa-sun"></i></p>
              <p><i class="fas fa-trash"></i></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="right">
      <h2 class="lowerHeader">Workspace</h2>
      <div class="innerShell">
        <div class="battleHashShell"><h4>Battle Hash:</h4> <p>{{counterService.hash}}</p> <button (click)="copyHash()" mat-raised-button color="accent">Copy Complete URL</button></div>
        <mat-checkbox color="warn" (change)="togglePlayerView($event.checked)">Player View On</mat-checkbox>
        <p>placeholder</p>
        <p>placeholder</p>
        <p>placeholder</p>
      </div>
    </div>
  </div>
</mat-card>
