<mat-card>
  <div class="headerShell">
    <h1>{{generalService.meta.name}}</h1>
    <div>
      <button mat-raised-button color="accent" matTooltip="Save"><i class="fas fa-save"></i></button>
      <button class="disabled" mat-raised-button disabled matTooltip="Autosaving"><i class="fas fa-spinner"></i></button>
      <button class="backButton" mat-raised-button color="warn" [routerLink]="['/field']"  matTooltip="Back to Fields"><i class="fas fa-chevron-right"></i></button>
    </div>
  </div>

  <div class="divider"></div>

  <app-counter></app-counter>
  battlefield works!
</mat-card>
