<mat-card>
  <div class="headerShell">
    <h1>{{counterService.name}}</h1>
    <div>
      <button mat-raised-button color="accent" matTooltip="Save"><i class="fas fa-save"></i></button>
      <!-- make the icon spin when it is autosaving -->
      <button class="disabled" mat-raised-button disabled matTooltip="Autosaving"><i class="fas fa-spinner"></i></button>
      <button class="backButton" mat-raised-button color="warn" [routerLink]="['/field']"  matTooltip="Back to Fields"><i class="fas fa-chevron-right"></i></button>
    </div>
  </div>

  <app-counter></app-counter>

  <h1>On Deck</h1>
  <app-fighter-section [type]="'0'"></app-fighter-section>

  <h1>Acting</h1>
  <app-fighter-section [type]="'1'"></app-fighter-section>
</mat-card>
