<div class="imageShell">
  <div class="imageGradient"></div>
  <img src="../assets/weapon.jpg" alt="banner">
</div>

<div class="dialogShell">
  <h3>Weapon Selecter</h3>

  <div class="accordianShell">
    <mat-accordion>
      <div class="weaponShell" *ngFor="let weapon of weapons">
        <mat-expansion-panel>
          <mat-expansion-panel-header [ngClass]="weapon.selected === '1' ? 'selectedBackground' : ''">
            <mat-panel-title>
              <input class="weaponName" (change)="changeWeaponProperty(weapon.id, $event, 'weapon')"
                value="{{weapon.weapon}}">
            </mat-panel-title>
            <mat-panel-description>
              Recovery: {{weapon.speed}}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="weaponSquare">
            <input class="speed" (change)="changeWeaponProperty(weapon.id, $event, 'speed')" value="{{weapon.speed}}">
            <input class="attack" (change)="changeWeaponProperty(weapon.id, $event, 'atk')" value="{{weapon.atk}}">
            <input class="init" (change)="changeWeaponProperty(weapon.id, $event, 'init')" value="{{weapon.init}}">
            <input class="defense" (change)="changeWeaponProperty(weapon.id, $event, 'def')" value="{{weapon.def}}">
            <input class="encumbrance" (change)="changeWeaponProperty(weapon.id, $event, 'encumb')"
              value="{{weapon.encumb}}">
            <div class="damageReduction">
              <input class="armor" (change)="changeWeaponProperty(weapon.id, $event, 'dr')" value="{{weapon.dr}}">
              <div class="armorShell">
                <i class="fas fa-shield-alt shieldIcon"></i>
                <input class="shield" (change)="changeWeaponProperty(weapon.id, $event, 'shield_dr')"
                  value="{{weapon.shield_dr}}">
              </div>
            </div>
            <input class="measure" (change)="changeWeaponProperty(weapon.id, $event, 'measure')"
              value="{{weapon.measure}}">
            <input class="damage" (change)="changeWeaponProperty(weapon.id, $event, 'damage')"
              value="{{weapon.damage}}">
            <input class="parry" (change)="changeWeaponProperty(weapon.id, $event, 'parry')" value="{{weapon.parry}}">
          </div>

        </mat-expansion-panel>

        <div (click)="selectWeapon($event, weapon.id)"
          [ngClass]="weapon.selected === '1' ? 'weaponSelectButton selectedBackground' : 'weaponSelectButton'">
          <i *ngIf="weapon.selected === '0'" class="fas fa-check-circle"></i>
        </div>
      </div>
    </mat-accordion>
  </div>

  <div class="bottomButtons">
    <button (click)="addWeapon()" mat-raised-button color="accent">Add Another Weapon</button>
    <button (click)="dialogRef.close()" mat-raised-button color="warn">Close</button>
  </div>
</div>