<div class="imageShell">
  <div class="imageGradient"></div>
  <img src="../assets/weapon.jpg" alt="banner">
</div>

<div class="dialogShell">
  <h3>Weapon Selector</h3>

  <div class="accordianShell">
    <mat-accordion>
      <div class="weaponShell" *ngFor="let weapon of weapons">
        <mat-expansion-panel>
          <mat-expansion-panel-header (keydown.space)="$event.stopImmediatePropagation();"
            (keydown.w)="$event.stopImmediatePropagation();" (keydown.e)="$event.stopImmediatePropagation();"
            (keydown.x)="$event.stopImmediatePropagation();" (keydown.s)="$event.stopImmediatePropagation();"
            (keydown.a)="$event.stopImmediatePropagation();"
            [ngClass]="weapon.selected === '1' ? 'selectedBackground' : ''">
            <mat-panel-title>
              <input class="weaponName" (click)="$event.stopImmediatePropagation();"
                (change)="changeWeaponProperty(weapon.id, $event, 'weapon')" value="{{weapon.weapon}}">
            </mat-panel-title>
            <mat-panel-description>
              Recovery: {{weapon.speed}}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="weaponSquare {{!weapon.maxrange ? 'meleeSquare' : 'rangedSquare'}}">
            <input class="speed" (change)="changeWeaponPropertyInt(weapon.id, $event, 'speed')"
              value="{{weapon.speed}}">
            <input class="attack" (change)="changeWeaponPropertyInt(weapon.id, $event, 'atk')" value="{{weapon.atk}}">
            <input class="init" (change)="changeWeaponPropertyInt(weapon.id, $event, 'init')" value="{{weapon.init}}">
            <div class="defense">
              <input class="defense-inner" (change)="changeWeaponProperty(weapon.id, $event, 'def')" value="{{weapon.def}}">
              <div class="coverShell">
                <i class="fa-solid fa-shield shieldIcon"></i>
                <input class="shield" (change)="changeWeaponProperty(weapon.id, $event, 'cover')"
                  value="{{weapon.cover}}">
              </div>
            </div>
            <input class="encumbrance" (change)="changeWeaponProperty(weapon.id, $event, 'damagetype')"
              value="{{weapon.damagetype}}">
            <div class="damageReduction">
              <input class="armor" (change)="changeWeaponProperty(weapon.id, $event, 'dr')" value="{{weapon.dr}}">
              <div class="armorShell">
                <i class="fa-solid fa-shield shieldIcon"></i>
                <input class="shield" (change)="changeWeaponProperty(weapon.id, $event, 'shield_dr')"
                  value="{{weapon.shield_dr}}">
              </div>
            </div>
            <input *ngIf="!weapon.maxrange" class="measure" (change)="changeWeaponPropertyInt(weapon.id, $event, 'measure')"
              value="{{weapon.measure}}">
              <p *ngIf="weapon.maxrange" class="measure">{{(weapon.maxrange / 6 | number:'1.0-0') + ' ri'}}</p>
            <input class="damage" (change)="changeWeaponProperty(weapon.id, $event, 'damage')"
              value="{{weapon.damage}}">
            <input *ngIf="!weapon.maxrange" class="parry" (change)="changeWeaponPropertyInt(weapon.id, $event, 'parry')"
              value="{{weapon.parry}}">
          </div>

          <div class="NonRangedShell">
            <p>Input a Max Range to Make This Weapon Ranged:</p>
            <input class="maxrange" (change)="changeWeaponPropertyInt(weapon.id, $event, 'maxrange')"
              value="{{weapon.maxrange}}">
          </div>

          <div class='weaponButtons'>
            <button (click)="copyWeapon(weapon)" mat-raised-button color="accent">Copy Weapon</button>
            <button *ngIf="weapon.selected === '0'" (click)="deleteWeapon(weapon.id)" mat-raised-button
              color="warn">Delete Weapon</button>
          </div>

        </mat-expansion-panel>

        <div (click)="selectWeapon($event, weapon.id)" matTooltip="Select Weapon"
          [ngClass]="weapon.selected === '1' ? 'weaponSelectButton selectedBackground' : 'weaponSelectButton'">
          <i *ngIf="weapon.selected === '0'" class="fas fa-check-circle"></i>
        </div>
      </div>
    </mat-accordion>
  </div>

  <div class="bottomButtons">
    <button (click)="addWeapon()" mat-raised-button color="accent">Add Another Weapon</button>
    <button (click)="dialogRef.close()" mat-raised-button color="warn">Close</button>
  </div>
</div>