<mat-card *ngIf="!canPlayersView">
  <h3 class="clockTitle">{{name}}</h3>
  <div class="counterShell">
    <p class="closedWarning">This combat is currently locked by your GM.</p>
    <p class="closedWarning">But you can add your character and followers anyway.</p>
  </div>
  <div>
    <div *ngIf="players.length > 0" class="playerViewPlayerSectionHeader">
      <p *ngIf="players.length > 1" id="playerViewPlayerName">Characters/Allies</p>
      <p *ngIf="players.length < 2" id="playerViewPlayerName">Character</p>
      <p class="non-mobile"></p>
      <p class="non-mobile">Recovery</p>
      <p class="icon non-mobile"> </p>
      <p class="non-mobile">Action</p>
      <p class="icon non-mobile"> </p>
      <p class="icon non-mobile"> </p>
    </div>
    <div *ngIf="players.length === 0" class="playerViewPlayerSectionHeader">
      <p id="playerViewPlayerName">Add Character</p>
    </div>
    <div *ngFor="let player of players"
      [ngClass]="player.action === count ? 'activeThisSecond playerViewPlayerSectionRow non-mobile' : player.topcheck === '1' ? 'fighterTop playerViewPlayerSectionRow non-mobile' : 'playerViewPlayerSectionRow non-mobile'">
      <p id="playerViewPlayerName">{{player.name}}</p>

      <input *ngIf="player.weapons.length === 0" (change)="alterRecovery(player.id, $event)" id="recovery"
        placeholder="Edit Recovery">
      <div *ngIf="player.weapons.length > 0" class="weaponSelectShell non-mobile">
        <div class="weaponDropDownButton">
          <p class="weaponNameHeading">{{player.selectedName}}</p>
          <i class="fas fa-angle-down"></i>
        </div>
        <div class="weaponSelect">
          <div *ngFor="let weapon of player.weapons">
            <p *ngIf="player.selectedId != weapon.weaponid" (click)="selectWeapon(player.id, weapon.weaponid)">
              {{weapon.name}}</p>
          </div>
          <div class="weaponDivider"></div>
          <input id="addWeaponInputs" #weaponName placeholder="New Name"
            (change)="saveNewWeapon(player.id, 'name', $event)">
          <input id="addWeaponInputs" #weaponRecovery placeholder="New Recovery"
            (change)="saveNewWeapon(player.id, 'recovery', $event)">
          <div>
            <i class="fas fa-plus-square addWeapon"
              (click)="addNewWeapon(player.id); weaponName.value = ''; weaponRecovery.value = ''"></i>
          </div>
        </div>
      </div>

      <p (click)="increaseAction(player.id)" class="recoveryButton">{{player.recovery}}</p>

      <p (click)="jumpToCount(player.id)" class="icon"><i class="fas fa-forward"
          matTooltip="Jump to Current Second"></i></p>

      <input *ngIf="player.action" (change)="changeAction(player.id, $event)" id="recovery" value="{{player.action}}">
      <div *ngIf="!player.action" class="buttonShell buttonShellPlayer">
        <button (click)="rollInitiative(player.id)" class="initButton">d{{player.initDice}}{{player.initMod === 0 ? '' : player.initMod > 0 ? '+' + player.initMod : player.initMod}}</button>
        <div class="diceSelectShell">
          <i class="fas fa-angle-down"></i>
          <div class="diceSelect">
            <p (click)="selectInitDice(0, player.id)">d0</p>
            <p (click)="selectInitDice(1, player.id)">d1</p>
            <p (click)="selectInitDice(4, player.id)">d4</p>
            <p (click)="selectInitDice(6, player.id)">d6</p>
            <p (click)="selectInitDice(8, player.id)">d8</p>
            <p (click)="selectInitDice(10, player.id)">d10</p>
            <p (click)="selectInitDice(12, player.id)">d12</p>
            <p (click)="selectInitDice(20, player.id)">d20</p>
          </div>
        </div>
      </div>

      <p *ngIf="!player.trauma" (click)="toggleTrauma(player.id)" class="icon"><i matTooltip="Trauma"
          class="fas fa-frown"></i></p>
      <input *ngIf="player.trauma" autofocus (blur)="addTrauma(player.id, $event)" id="trauma">

      <p (click)="removePlayer(player.id)" class="icon"><i matTooltip="Kill" class="fas fa-skull-crossbones"></i></p>
    </div>

    <div *ngIf="!addFromOtherSite" class="playerViewPlayerSectionRow">
      <input (change)="capturePlayerInfo('name', $event)" placeholder="Name" value="{{newPlayer.name}}">
      <input (change)="capturePlayerInfo('recovery', $event)" placeholder="Recovery" value="{{newPlayer.recovery}}">
      <div class="buttonShell buttonShellPlayer">
        <div class="initButton">d{{newPlayer.initDice}}</div>
        <div class="diceSelectShell">
          <i class="fas fa-angle-down"></i>
          <div class="diceSelect">
            <p (click)="selectInitDice(0, null)">d0</p>
            <p (click)="selectInitDice(1, null)">d1</p>
            <p (click)="selectInitDice(4, null)">d4</p>
            <p (click)="selectInitDice(6, null)">d6</p>
            <p (click)="selectInitDice(8, null)">d8</p>
            <p (click)="selectInitDice(10, null)">d10</p>
            <p (click)="selectInitDice(12, null)">d12</p>
            <p (click)="selectInitDice(20, null)">d20</p>
          </div>
        </div>
      </div>
      <input (change)="capturePlayerInfo('initMod', $event)" placeholder="Initiative Mod" value="{{newPlayer.initMod}}">
      <p (click)="addPlayer()" class="icon"><i matTooltip="Add" class="fas fa-user-plus"></i></p>
      <p (click)="toggleAddFromOtherSite()"><i matTooltip="Add From Vault or Bestiary"
          class="fas fa-cloud-download-alt"></i></p>
      <p (click)="clearPlayerInfo()" class="icon"><i matTooltip="Clear" class="fas fa-window-close"></i></p>
    </div>

    <div *ngIf="addFromOtherSite" class="playerViewPlayerSectionRow">
      <input (change)="captureId($event)" placeholder="Vault Character Id or Bestiary Combat Hash">
      <div class="buttonShell buttonShellPlayer">
        <div class="initButton">d{{newPlayer.initDice}}</div>
        <div class="diceSelectShell">
          <i class="fas fa-angle-down"></i>
          <div class="diceSelect">
            <p (click)="selectInitDice(0, null)">d0</p>
            <p (click)="selectInitDice(1, null)">d1</p>
            <p (click)="selectInitDice(4, null)">d4</p>
            <p (click)="selectInitDice(6, null)">d6</p>
            <p (click)="selectInitDice(8, null)">d8</p>
            <p (click)="selectInitDice(10, null)">d10</p>
            <p (click)="selectInitDice(12, null)">d12</p>
            <p (click)="selectInitDice(20, null)">d20</p>
          </div>
        </div>
      </div>
      <input (change)="capturePlayerInfo('initMod', $event)" placeholder="Initiative Mod" value="{{newPlayer.initMod}}">
      <p *ngIf="id" (click)="addPlayerOrBeast()" class="icon"><i matTooltip="Add"
          class="fas fa-user-plus"></i></p>
      <p *ngIf="!id" class="icon"></p>
      <p (click)="toggleAddFromOtherSite()" class="icon"><i matTooltip="Go Back" class="fas fa-window-close"></i></p>
    </div>
  </div>
</mat-card>

<mat-card *ngIf="canPlayersView">
  <h3 class="clockTitle">{{name}}</h3>
  <div class="counterShell">
    <div>
      <h3 class="clockTitle">The Clock</h3>
      <div class="divider"></div>
      <h3>{{count}}</h3>
    </div>
  </div>

  <div>
    <div *ngIf="players.length > 0" class="playerViewPlayerSectionHeader">
      <p *ngIf="players.length > 1" id="playerViewPlayerName">Characters/Allies</p>
      <p *ngIf="players.length < 2" id="playerViewPlayerName">Character</p>
      <p class="non-mobile"></p>
      <p class="non-mobile">Recovery</p>
      <p class="icon non-mobile"> </p>
      <p class="non-mobile">Action</p>
      <p class="icon non-mobile"> </p>
      <p class="icon non-mobile"> </p>
    </div>
    <div *ngIf="players.length === 0" class="playerViewPlayerSectionHeader">
      <p id="playerViewPlayerName">Add Character</p>
    </div>



    <div *ngFor="let player of players"
      [ngClass]="player.action === count ? 'activeThisSecond playerViewPlayerSectionRow non-mobile' : player.topcheck === '1' ? 'fighterTop playerViewPlayerSectionRow non-mobile' : 'playerViewPlayerSectionRow non-mobile'">
      <p id="playerViewPlayerName">{{player.name}}</p>

      <input *ngIf="player.weapons.length === 0" (change)="alterRecovery(player.id, $event)" id="recovery"
        placeholder="Edit Recovery">
      <div *ngIf="player.weapons.length > 0" class="weaponSelectShell non-mobile">
        <div class="weaponDropDownButton">
          <p class="weaponNameHeading">{{player.selectedName}}</p>
          <i class="fas fa-angle-down"></i>
        </div>
        <div class="weaponSelect">
          <div *ngFor="let weapon of player.weapons">
            <p *ngIf="player.selectedId != weapon.weaponid" (click)="selectWeapon(player.id, weapon.weaponid)">
              {{weapon.name}}</p>
          </div>
          <div class="weaponDivider"></div>
          <input id="addWeaponInputs" #weaponName placeholder="New Name"
            (change)="saveNewWeapon(player.id, 'name', $event)">
          <input id="addWeaponInputs" #weaponRecovery placeholder="New Recovery"
            (change)="saveNewWeapon(player.id, 'recovery', $event)">
          <div>
            <i class="fas fa-plus-square addWeapon"
              (click)="addNewWeapon(player.id); weaponName.value = ''; weaponRecovery.value = ''"></i>
          </div>
        </div>
      </div>

      <p (click)="increaseAction(player.id)" class="recoveryButton">{{player.recovery}}</p>

      <p (click)="jumpToCount(player.id)" class="icon"><i class="fas fa-forward"
          matTooltip="Jump to Current Second"></i></p>

      <input *ngIf="player.action" (change)="changeAction(player.id, $event)" id="recovery" value="{{player.action}}">
      <div *ngIf="!player.action" class="buttonShell buttonShellPlayer">
        <button (click)="rollInitiative(player.id)" class="initButton">d{{player.initDice}}{{player.initMod === 0 ? '' : player.initMod > 0 ? '+' + player.initMod : player.initMod}}</button>
        <div class="diceSelectShell">
          <i class="fas fa-angle-down"></i>
          <div class="diceSelect">
            <p (click)="selectInitDice(0, player.id)">d0</p>
            <p (click)="selectInitDice(1, player.id)">d1</p>
            <p (click)="selectInitDice(4, player.id)">d4</p>
            <p (click)="selectInitDice(6, player.id)">d6</p>
            <p (click)="selectInitDice(8, player.id)">d8</p>
            <p (click)="selectInitDice(10, player.id)">d10</p>
            <p (click)="selectInitDice(12, player.id)">d12</p>
            <p (click)="selectInitDice(20, player.id)">d20</p>
          </div>
        </div>
      </div>

      <p *ngIf="!player.trauma" (click)="toggleTrauma(player.id)" class="icon"><i matTooltip="Trauma"
          class="fas fa-frown"></i></p>
      <input *ngIf="player.trauma" autofocus (blur)="addTrauma(player.id, $event)" id="trauma">

      <p (click)="removePlayer(player.id)" class="icon"><i matTooltip="Kill" class="fas fa-skull-crossbones"></i></p>
    </div>
    <div *ngIf="!addFromOtherSite" class="playerViewPlayerSectionRow">
      <input (change)="capturePlayerInfo('name', $event)" placeholder="Name" value="{{newPlayer.name}}">
      <input (change)="capturePlayerInfo('recovery', $event)" placeholder="Recovery" value="{{newPlayer.recovery}}">
      <div class="buttonShell buttonShellPlayer">
        <div class="initButton">d{{newPlayer.initDice}}</div>
        <div class="diceSelectShell">
          <i class="fas fa-angle-down"></i>
          <div class="diceSelect">
            <p (click)="selectInitDice(0, null)">d0</p>
            <p (click)="selectInitDice(1, null)">d1</p>
            <p (click)="selectInitDice(4, null)">d4</p>
            <p (click)="selectInitDice(6, null)">d6</p>
            <p (click)="selectInitDice(8, null)">d8</p>
            <p (click)="selectInitDice(10, null)">d10</p>
            <p (click)="selectInitDice(12, null)">d12</p>
            <p (click)="selectInitDice(20, null)">d20</p>
          </div>
        </div>
      </div>
      <input (change)="capturePlayerInfo('initMod', $event)" placeholder="Initiative Mod" value="{{newPlayer.initMod}}">
      <p (click)="addPlayer()" class="icon"><i matTooltip="Add" class="fas fa-user-plus"></i></p>
      <p (click)="toggleAddFromOtherSite()"><i matTooltip="Add From Vault or Bestiary"
          class="fas fa-cloud-download-alt"></i></p>
      <p (click)="clearPlayerInfo()" class="icon"><i matTooltip="Clear" class="fas fa-window-close"></i></p>
    </div>

    <div *ngIf="addFromOtherSite" class="playerViewPlayerSectionRow">
      <input (change)="captureId($event)" placeholder="Vault Character Id or Bestiary Combat Hash">
      <div class="buttonShell buttonShellPlayer">
        <button (click)="rollInitiative(player.id)" class="initButton">d{{player.initDice}}{{player.initMod === 0 ? '' : player.initMod > 0 ? '+' + player.initMod : player.initMod}}</button>
        <div class="diceSelectShell">
          <i class="fas fa-angle-down"></i>
          <div class="diceSelect">
            <p (click)="selectInitDice(0, player.id)">d0</p>
            <p (click)="selectInitDice(1, player.id)">d1</p>
            <p (click)="selectInitDice(4, player.id)">d4</p>
            <p (click)="selectInitDice(6, player.id)">d6</p>
            <p (click)="selectInitDice(8, player.id)">d8</p>
            <p (click)="selectInitDice(10, player.id)">d10</p>
            <p (click)="selectInitDice(12, player.id)">d12</p>
            <p (click)="selectInitDice(20, player.id)">d20</p>
          </div>
        </div>
      </div>
      <input (change)="capturePlayerInfo('initMod', $event)" placeholder="Initiative Mod" value="{{newPlayer.initMod}}">
      <p *ngIf="id" (click)="addPlayerOrBeast()" class="icon"><i matTooltip="Add"
          class="fas fa-user-plus"></i></p>
      <p *ngIf="!id" class="icon"></p>
      <p (click)="toggleAddFromOtherSite()" class="icon"><i matTooltip="Go Back" class="fas fa-window-close"></i></p>
    </div>
  </div>

  <div class="playerViewShell">
    <div class="left">
      <h2>The Quick</h2>
      <div class="outerShell">
        <div class="fighterRow header playerView">
          <p class="icon"> </p>
          <p class="icon"> </p>
          <p class="icon"> </p>
          <p class="name">Name</p>
          <p>weapon</p>
        </div>
        <div *ngFor="let fighter of fighters">
          <div *ngIf="fighter.dead === '0' && fighter.hidden === '0'"
            [ngClass]="fighter.topcheck === '1' ? 'fighterTop fighterRow playerView' : 'fighterRow playerView'">
            <div class="icon">
              <div [ngStyle]="{background: fighter.colorcode}" class="fighterColor"></div>
            </div>
            <div class="icon" matTooltip="Damage"><i class="fas fa-tint"
                [ngStyle]="{color: '#990000' + fighter.wound}"></i></div>
            <div class="icon" matTooltip="Stress"><i class="fas fa-tint"
                [ngStyle]="{color: '#00008b' + fighter.stress}"></i></div>
            <p class="name" [ngClass]="{'cautious' : fighter.cautious}">
              {{fighter.namefighter}}
              <i *ngIf="fighter.fatigued" matTooltip="Fatigued" class="fas fa-heart-broken"></i>
              <i *ngIf="fighter.panicked" matTooltip="Panicked" class="fas fa-heart-broken"></i>
            </p>
            <p>{{fighter.weapon}}</p>
          </div>
        </div>
      </div>
    </div>

    <div class="right">
      <h2>The Dead</h2>
      <div class="outerShell">
        <div class="fighterRow header playerView">
          <p class="icon"> </p>
          <p class="icon"> </p>
          <p class="name">Name</p>
          <p> </p>
        </div>
        <div *ngFor="let fighter of fighters">
          <div *ngIf="fighter.dead === '1'" class="fighterRow playerView">
            <div class="icon">
              <div [ngStyle]="{background: fighter.colorcode}" class="fighterColor"></div>
            </div>
            <p class="icon"> </p>
            <p class="name">{{fighter.namefighter}}</p>
            <p> </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="statuses.length > 0" class="statusShell">
    <div *ngFor="let status of statuses">
      <app-statuses [status]="status" [count]="count"></app-statuses>
    </div>
  </div>
</mat-card>