<mat-card *ngIf="!canPlayersView">
  <h3 class="clockTitle">{{name}}</h3>
  <div class="counterShell">
      <p class="closedWarning">This combat is currently locked by your GM.</p>
  </div>
</mat-card>

<mat-card *ngIf="canPlayersView">
  <h3 class="clockTitle">{{name}}</h3>
  <div class="counterShell">
    <div>
      <h3 class="clockTitle">The Clock</h3>
      <div class="divider"></div>
      <h3>{{count}}</h3>
    </div>
  </div>

  <div>
    <div *ngIf="players.length > 0" class="playerViewPlayerSectionHeader">
      <p *ngIf="players.length > 1" id="playerViewPlayerName">Characters/Allies</p>
      <p *ngIf="players.length < 2" id="playerViewPlayerName">Character</p>
      <p class="non-mobile"></p>
      <p class="non-mobile">Recovery</p>
      <p class="icon non-mobile"> </p>
      <p class="non-mobile">Action</p>
      <p class="icon non-mobile"> </p>
      <p class="icon non-mobile"> </p>
    </div>
    <div *ngIf="players.length === 0" class="playerViewPlayerSectionHeader">
      <p id="playerViewPlayerName">Add Character</p>
    </div>
    <div *ngFor="let player of players" [ngClass]="player.action === count ? 'activeThisSecond playerViewPlayerSectionRow non-mobile' : player.topcheck === '1' ? 'fighterTop playerViewPlayerSectionRow non-mobile' : 'playerViewPlayerSectionRow non-mobile'">
        <p id="playerViewPlayerName">{{player.name}}</p>
        <input (change)="alterRecovery(player.id, $event)" id="recovery" placeholder="Edit Recovery">
        <p (click)="increaseAction(player.id)" class="recoveryButton">{{player.recovery}}</p>
        <p (click)="jumpToCount(player.id)" class="icon"><i class="fas fa-forward" matTooltip="Jump to Current Second"></i></p>
        <input (change)="changeAction(player.id, $event)" id="recovery" value="{{player.action}}">
        <p *ngIf="!player.trauma" (click)="toggleTrauma(player.id)" class="icon"><i matTooltip="Trauma" class="fas fa-frown"></i></p>
        <input *ngIf="player.trauma" autofocus (blur)="addTrauma(player.id, $event)" id="trauma">
        <p (click)="removePlayer(player.id)" class="icon"><i matTooltip="Kill" class="fas fa-skull-crossbones"></i></p>
    </div>
    <div *ngFor="let player of players" [ngClass]="player.action === count ? 'activeThisSecond playerViewPlayerSectionRow mobile' : player.topcheck === '1' ? 'fighterTop playerViewPlayerSectionRow mobile' : 'playerViewPlayerSectionRow mobile'">
      <p id="playerViewPlayerName">{{player.name}}</p>
      <div id="recoveryDiv">
        <p>Recovery:</p>
        <p (click)="increaseAction(player.id)" class="recoveryButton">{{player.recovery}}</p>
        <input (change)="alterRecovery(player.id, $event)" id="recovery" placeholder="Edit Recovery">
      </div>
      <div>
        <p (click)="jumpToCount(player.id)" class="icon"><i class="fas fa-forward" matTooltip="Jump to Current Second"></i></p>
        <input (change)="changeAction(player.id, $event)" id="recovery" value="{{player.action}}">
      </div>
      <div>
        <p *ngIf="!player.trauma" (click)="toggleTrauma(player.id)" class="icon"><i matTooltip="Trauma" class="fas fa-frown"></i></p>
        <input *ngIf="player.trauma" autofocus (blur)="addTrauma(player.id, $event)" id="trauma">
        <p (click)="removePlayer(player.id)" class="icon"><i matTooltip="Kill" class="fas fa-skull-crossbones"></i></p>
      </div>
  </div>
    <div *ngIf="!addFromOtherSite" class="playerViewPlayerSectionRow">
      <input (change)="capturePlayerInfo('name', $event)" placeholder="Name" value="{{newPlayer.name}}">
      <input (change)="capturePlayerInfo('recovery', $event)" placeholder="Recovery" value="{{newPlayer.recovery}}">
      <input (change)="capturePlayerInfo('action', $event)" placeholder="Initiative Roll" value="{{newPlayer.action}}">
      <p (click)="addPlayer()" class="icon"><i matTooltip="Add" class="fas fa-user-plus"></i></p>
      <p (click)="toggleAddFromOtherSite()"><i matTooltip="Add From Vault or Bestiary" class="fas fa-cloud-download-alt"></i></p>
      <p (click)="clearPlayerInfo()" class="icon"><i matTooltip="Clear" class="fas fa-window-close"></i></p>
    </div>
    
    <div *ngIf="addFromOtherSite" class="playerViewPlayerSectionRow">
      <input (change)="captureId('characterId', $event)" placeholder="Vault Character Id">
      <input (change)="captureId('bestiaryHash', $event)" placeholder="Bestiary Combat Hash">
      <p>(Only add 1)</p>
      <input (change)="capturePlayerInfo('action', $event)" placeholder="Initiative Roll" value="{{newPlayer.action}}">
      <p *ngIf="!((!bestiaryHash && !characterId) || (bestiaryHash && characterId)) && newPlayer.action" (click)="addPlayerOrBeast()" class="icon"><i matTooltip="Add" class="fas fa-user-plus"></i></p>
      <p *ngIf="(!bestiaryHash && !characterId) || (bestiaryHash && characterId) || !newPlayer.action" class="icon"></p>
      <p (click)="toggleAddFromOtherSite()" class="icon"><i matTooltip="Go Back" class="fas fa-window-close"></i></p>
    </div>
  </div>

  <div class="playerViewShell">
    <div class="left">
      <h2>The Quick</h2>
      <div class="outerShell">
        <div class="fighterRow header playerView">
          <p class="icon"> </p>
          <p class="icon"> </p>
          <p class="name">Name</p>
          <p>weapon</p>
        </div>
        <div *ngFor="let fighter of fighters">
          <div *ngIf="fighter.dead === '0' && fighter.hidden === '0'" [ngClass]="fighter.topcheck === '1' ? 'fighterTop fighterRow playerView' : 'fighterRow playerView'">
            <div class="icon">
              <div [ngStyle]="{background: fighter.colorcode}" class="fighterColor"></div>
            </div>
            <div class="icon"><i class="fas fa-tint" [ngStyle]="{color: '#990000' + fighter.wound}"></i></div>
            <p class="name" [ngClass]="{'broken' : fighter.broken, 'panicked' : fighter.panicked}">{{fighter.namefighter}} <i *ngIf="fighter.fatigued" matTooltip="Fatigued" class="fas fa-heart-broken"></i></p>
            <p>{{fighter.weapon}}</p>
          </div>
        </div>
      </div>
    </div>

    <div class="right">
      <h2>The Dead</h2>
      <div class="outerShell">
        <div class="fighterRow header playerView">
          <p class="icon"> </p>
          <p class="icon"> </p>
          <p class="name">Name</p>
          <p> </p>
        </div>
        <div *ngFor="let fighter of fighters">
          <div *ngIf="fighter.dead === '1'" class="fighterRow playerView">
            <div class="icon">
              <div [ngStyle]="{background: fighter.colorcode}" class="fighterColor"></div>
            </div>
            <p class="icon"> </p>
            <p class="name">{{fighter.namefighter}}</p>
            <p> </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="statuses.length > 0" class="statusShell">
    <div *ngFor="let status of statuses">
      <app-statuses [status]="status" [count]="count"></app-statuses>
    </div>
  </div>
</mat-card>