<mat-expansion-panel>
  <mat-expansion-panel-header class="addStatusHeader">
    <mat-panel-title>
      Add Status
    </mat-panel-title>
  </mat-expansion-panel-header>

  <div class="nameShell statusName">
    <div [ngStyle]="{background: status.colorcode}" matTooltip="Click to Change Color"
      [cpPresetColors]="['#C91010', '#1076C9', '#2889e9', '#2FC910', '#C97310', '#9510C9', '#EB75E1', '#E5EB75']"
      [(colorPicker)]="status.colorcode" (colorPickerChange)="captureColor($event)" class="fighterColor">
    </div>
    <mat-form-field>
      <input (change)="captureChange($event, 'namestatus')" (keydown)="$event.stopPropagation()" matInput
        placeholder="Status Name*" value="{{status.namestatus}}">
    </mat-form-field>
  </div>

  <button (click)="makeUniqueColor()" mat-raised-button color="accent">Give It a Random Color, Please</button>

  <div>
    <mat-form-field class="nameShell">
      <input (change)="captureChange($event, 'timestatus')" (keydown)="$event.stopPropagation()" matInput
        placeholder="Status {{status.interval ? 'Interval' : 'Duration'}}" value="{{status.timestatus}}">
    </mat-form-field>

    <mat-checkbox color="warn" (change)="toggleCheckbox($event.checked, 'interval')" [checked]="status.interval"  matTooltip="If checked, the status's time will reset when it hits 0">
      Interval?</mat-checkbox>
  </div>

  <mat-form-field class="nameShell">
    <input (change)="captureChange($event, 'description')" (keydown)="$event.stopPropagation()"
      (keydown)="$event.stopPropagation()" matInput placeholder="Status Description" value="{{status.description}}">
  </mat-form-field>

  <div>
    <mat-checkbox color="warn" (change)="toggleCheckbox($event.checked, 'playerview')" [checked]="status.playerview">
      Show Status to Players?</mat-checkbox>
    <mat-checkbox *ngIf="status.playerview" color="warn" (change)="toggleCheckbox($event.checked, 'playerdescription')"
      [checked]="status.playerdescription">Show Description to Players?</mat-checkbox>
  </div>

  <div>
    <p *ngFor="let error of errors" class="error">{{error}}</p>
  </div>

  <div class="addShell">
    <button (click)="addStatus()" mat-raised-button color="warn">Add Status</button>
  </div>
</mat-expansion-panel>