.landingShell {
    display: flex;
}

.left, .right {
    padding: 15px;
    width: 50%;
}

.left {
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    border-right: 1px solid lightgrey
}

.left button {
    margin-left: 15px
}

.linkShell {
    display: flex;
    flex-direction: column;
}

@media (max-width: 500px) {
    .landingShell {
        flex-direction: column;
    }
    
    .left, .right {
        width: 100%
    }

    .left {
        border: 0;
        border-bottom: 1px solid lightgrey;
        padding: 0 0 15px
    }
 }