<mat-card>
  <div class="landingShell">
    <div class="left">
      <p>If your GM has given you a hash, you can input it here:</p>
      <div>
        <mat-form-field>
          <input (change)="enterHash($event)" matInput type="text" placeholder="Hash">
        </mat-form-field>
        <button mat-raised-button [routerLink]="[hash]" color="accent">Go</button>
      </div>
      <p>This hash is case sensitive.</p>
    </div>

    <div class="right">
      <a href={{loginEndpoint}}>
        <button mat-raised-button color="accent">GM Login</button>
      </a>

      <h5>Useful Links</h5>
      <div class="linkShell">
        <a target="_blank" href="https://drive.google.com/file/d/1SdyiHUEmgYOpuB6sl5ahDY_KcYbvDl8-/view?usp=sharing">Basic Combat Cheat Sheet</a>
        <a target="_blank" href="https://bestiary.stone-fish.com/">Bonfire Bestiary</a>
        <a target="_blank" href="https://adventure.stone-fish.com/">Adventure Archive</a>
        <a href="https://discordapp.com/invite/G8GVTME" target="_blank">Discord</a>
        <a href="https://bonfire.stone-fish.com/" target="_blank">Bonfire SRD</a>
        <a href="https://stone-fish.com/" target="_blank">Dragon Slayer Site</a>
      </div>
    </div>
  </div>

</mat-card>
