.landingShell {
    display: flex;
}

.left, .right {
    padding: 15px;
    width: 50%;
}

.left {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    border-right: 1px solid lightgrey
}

.left button {
    margin-left: 15px
}

.linkShell {
    display: flex;
    flex-direction: column;
}