<div class="outerShell">
  <div class="fighterRow header">
    <p class="icon"> </p>
    <p class="icon"> </p>
    <p class="name">Name</p>
    <p class="icon"> </p>
    <p>Damage</p>
    <p>Stress</p>
    <p>Recover</p>
    <p class="icon"> </p>
    <p>Action</p>
    <p class="icon"> </p>
    <p class="icon"> </p>
    <p class="icon"> </p>
  </div>
  <div *ngFor="let fighter of counterService.fighters">
    <app-singlefighter *ngIf="fighter.acting === type && fighter.dead === '0'" [fighter]="fighter" [ngClass]="fighter.actioncount == counterService.count ? 'activeThisSecond fighterRow' : fighter.hidden === '1' ? 'fighterHidden fighterRow' : 'fighterRow'"></app-singlefighter>
  </div>
</div>