.outerShell {
    background: lightgray;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-bottom: 15px;
}

.fighterRow {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.activeThisSecond {
    background: #4caf506b;
}

.fighterHidden {
    background:#00000050
}

.header {
    background: grey;
}

.header p {
    color: whitesmoke
}

p {
    width: 10%;
    font-size: 17px;
    text-align: center;
}

.icon {
    width: 5%;
}

i:hover {
    color: #b45f06; 
}

.name {
    width: 30%;
    text-align: left;
}

.fighterColor {
    height: 15px;
    width: 15px;
    border-radius: 15px;
    border: 1px solid;
    margin: 0 auto;
}

h2 {
    background: #990000;
    padding: 5px;
    font-size: 30px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding-left: 15px
}


.playerViewShell {
    display: flex;
    justify-content: space-between;
}

.playerViewShell .left, .playerViewShell .right {
    width: 49%
}

.playerView {
    justify-content: flex-start;
}


.playerView p {
    width: 40%;
    text-align: left;
}

.playerView .icon {
    width: 10%
}
