.outerShell {
    background: lightgray;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-bottom: 15px;
}

.fighterRow {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.activeThisSecond {
    background: #4caf506b;
}

.fighterHidden {
    background:#00000050
}

.inputShell {
    width: 10%;
    display: flex;
}

.inputShell p {
    width: 20%;
    border-bottom: 1px solid grey;
}

input {
    width: 70%;
    background: none;
    border: none;
    text-align: center;
    border-bottom: 1px solid grey;
    padding: 0;
    font-family: 'ancient';
}

input:focus, button:focus {
    outline: none;
}

.header {
    background: grey;
}

.header p {
    color: whitesmoke
}

p {
    width: 10%;
    font-size: 17px;
    text-align: center;
}

.icon {
    width: 5%;
}

i:hover {
    color: #b45f06; 
}

.fa-tint:hover {
    color: inherit
}

.name {
    width: 25%;
    text-align: left;
}

.fighterColor {
    height: 15px;
    width: 15px;
    border-radius: 15px;
    border: 1px solid;
    margin: 0 auto;
}

.weaponSquareShell {
    position: relative;
}

.weaponSquare {
    position: absolute;
    top: 22px;
    width: 200px;
    height: 191px;
    background: whitesmoke;
    z-index: 1;
    background-image: url('../../../../../assets/square.png');
    background-repeat: no-repeat;
    background-size: 200px;
    display: none;
}

.weaponHeader {
    width: 200px;
    background: black;
    color: whitesmoke;
    top: -27px;
    position: absolute;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.weaponHeader p {
    width: unset
}

.speed {
    position: absolute;
    font-size: 35px;
    top: 20px;
    left: 10px;
}

.attack {
    position: absolute;
    font-size: 35px;
    top: 20px;
    left: 90px;
}

.init {
    position: absolute;
    font-size: 35px;
    top: 20px;
    right: 10px;
}

.defense {
    position: absolute;
    font-size: 35px;
    top: 78px;
    left: 35px;
}

.encumbrance {
    position: absolute;
    font-size: 30px;
    top: 78px;
    left: 90px;
}

.damageReduction {
    position: absolute;
    font-size: 35px;
    top: 70px;
    right: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 65px;
    height: 55px;
}

.armor {
    width: 65px;
}

.shield {
    width: 65px
}

.shieldIcon {
    font-size: 13px;
    margin-right: 5px;
}

.shield:hover {
    color: black !important
}

.measure {
    position: absolute;
    font-size: 35px;
    bottom: 20px;
    left: 10px;
}

.damage {
    position: absolute;
    font-size: 25px;
    bottom: 20px;
    left: 65px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 75px;
    height: 50px;
}

.parry {
    position: absolute;
    font-size: 35px;
    bottom: 20px;
    right: 10px;
}

.weaponSquareShell:hover .weaponSquare {
    display: inherit;
}

/* PLAYER STYLINGS */

h2 {
    background: #990000;
    padding: 5px;
    font-size: 30px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding-left: 15px
}

.playerViewShell {
    display: flex;
    justify-content: space-between;
}

.playerViewShell .left, .playerViewShell .right {
    width: 49%
}

.playerView {
    justify-content: flex-start;
}

.playerView p {
    width: 40%;
    text-align: left;
}

.playerView .icon {
    width: 10%
}

.counterShell {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin: 25px auto;
    background: lightgrey;
    padding: 10px;
    border-radius: 5px;
    max-width: 800px;
    text-align: center;
}

h3 {
    color: #990000;
    font-size: 40px;
    font-family: 'vinque'
}

.clockTitle {
    font-size: 25px;
}

.divider {
    border: 1px solid black
}

.closedWarning {
    width: 100%
}

.stressInput {
    width: 60%;
}

.actionInput {
    width: 100%;
}

.stressEncumbrancePenalty {
    width: 40% !important;
    color: #990000
}

.buttonShell {
    width: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

button {
    width: 10%;
    border: none;
    padding: 0;
    background: none;
}

button:hover {
    background: #b45f06 !important;
    border-radius: 5px;
    color: white !important
}

.disabledButton {
    color: darkgray !important
}

.disabledButton:hover {
    background: lightgrey !important;
    color: darkgray !important;
}

.initButton {
    width: 70%;
}

.buttonShell i {
    width: 20%;
}

.diceSelectShell {
    position: relative;
}

.diceSelect {
    position: absolute;
    width: 50px;
    background: whitesmoke;
    top: 17px;
    right: 0;
    z-index: 1;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: none;
}

.diceSelectShell:hover .diceSelect {
    display: inherit;
}

.diceSelect p {
    width: 100%;
    padding: 5px;
    border-top: 1px solid lightgrey;
}

.diceSelect p:hover {
    background: #b45f06;
    color: whitesmoke
}