.counterShell {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin: 25px auto 15px;
    background: lightgrey;
    padding: 10px;
    border-radius: 5px;
    max-width: 800px;
}

i {
    font-size: 50px
}

i:hover {
    color: #b45f06; 
}

.fa-redo {
    transform: scale(-1, 1);
}

h3 {
    font-size: 35px;
    font-family: 'Baldur';
    padding: 5px;
    color: #990000;
    text-align: center;
}

.clockTitle {
    font-size: 20px;
}

.divider {
    border: 1px solid black;
    background: black;
}

.mobile {
    display: none;
}

.non-mobile {
    display: flex;
}

@media (max-width: 500px) {
    .counterShell {
        border-radius: 0;
    }

    .mobile {
        display: flex;
        flex-direction: column;
        padding: 10px 0;
    }

    .iconShell {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    
    .non-mobile {
        display: none;
    }
}