section {
    margin: 0 auto;
    max-width: 1000px;
    width: 95%
}

mat-toolbar,
mat-expansion-panel {
    margin-bottom: 15px;
    padding-right: 0;
    display: flex;
    justify-content: space-between;
    position: relative;
}

mat-toolbar h1 {
    font-family: 'vinque';
    color: white;
    font-size: 35px;
    z-index: 1;
}

.logoShell {
    display: flex;
    align-items: center;
}

.logoShell img {
    width: 50px;
    height: 50px;
}

.imageShell {
    height: 64px;
    overflow:hidden;
    position: absolute;
    right: 0;
}

.imageShell img {
    height: 100px;
}

.imageGradient {
    position: absolute;
    height: 100%;
    width: 100%;
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 50%);
}

@media (max-width: 800px) { 
    .logoShell img {
        z-index: 1;
    }
    
    mat-toolbar h1 {
        font-size: 20px;
    }
}

@media (max-width: 500px) { 
    section {
        width: 100%
    }
}