section {
    margin: 0 auto;
    max-width: 1000px;
    width: 75%
}

mat-toolbar,
mat-expansion-panel {
    margin-bottom: 15px;
}

mat-toolbar h1 {
    font-family: 'vinque';
    color: white;
    font-size: 35px;
}

.footer {
    margin-bottom: 0;
    margin-top: 15px;
    display: flex;
    justify-content: space-evenly;
}

.footer a {
    color: white
}