<section>
    <mat-toolbar>
        <div>
            <h1 class="header" routerLink="./">Bonfire Combat Counter</h1>
        </div>
    </mat-toolbar>
    
    <router-outlet></router-outlet>
    
    <mat-toolbar class="footer">
        <a href="https://dragon-slayer.net/careers" target="_blank">Careers & Freelance Work</a>
        <a href="https://discordapp.com/invite/G8GVTME" target="_blank">Discord</a>
        <a href="https://bonfire.dragon-slayer.net/" target="_blank">Bonfire SRD</a>
        <a href="https://dragon-slayer.net/" target="_blank">Dragon Slayer Site</a>
    </mat-toolbar>
</section>