<div class="outerShell">
  <div class="fighterRow header">
    <p class="icon"> </p>
    <p class="icon"> </p>
    <p class="name">Name</p>
    <p class="icon"> </p>
    <p>Damage</p>
    <p>Stress</p>
    <p>Recover</p>
    <p>Action</p>
    <p class="icon"> </p>
    <p class="icon"> </p>
    <p class="icon"> </p>
  </div>
  <div *ngFor="let fighter of counterService.fighters">
    <div *ngIf="fighter.acting === type" [ngClass]="fighter.actioncount == counterService.count ? 'activeThisSecond fighterRow' : 'fighterRow'">
      <p class="icon"><i class="fas fa-eye"></i></p>
    <div class="icon"><div [ngStyle]="{background: fighter.colorcode}" class="fighterColor"></div></div>
      <p class="name">{{fighter.namefighter}}</p>
      <p class="icon"><i class="fas fa-scroll"></i></p>
      <p>{{fighter.health}}</p>
      <p>{{fighter.stress}}</p>
      <p>{{fighter.selected.speed}}</p>
      <p>{{fighter.actioncount}}</p>
      <p class="icon"><i class="fas fa-frown"></i></p>
      <p class="icon"><i class="fas fa-skull-crossbones"></i></p>
      <p class="icon"><i class="fas fa-edit"></i></p>
    </div>
  </div>
</div>
