
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

$mat-dark-red: (
    50:#990000,
  100:#990000,
  200:#990000,
  300:#990000,
  400:#990000,
  500:#990000,
  600:#990000,
  700:#990000,
  800:#990000,
  900:#990000,
  A100:#990000,
  A200:#990000,
  A400:#990000,
  A700:#990000,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);

$mat-black: (
  50:#0000,
  100:#0000,
  200:#0000,
  300:#0000,
  400:#0000,
  500:#0000,
  600:#0000,
  700:#0000,
  800:#0000,
  900:#0000,
  A100:#0000,
  A200:#0000,
  A400:#0000,
  A700:#0000,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);

$mat-bonfire-orange: (
  50:#b45f06,
  100:#b45f06,
  200:#b45f06,
  300:#b45f06,
  400:#b45f06,
  500:#b45f06,
  600:#b45f06,
  700:#b45f06,
  800:#b45f06,
  900:#b45f06,
  A100:#b45f06,
  A200:#b45f06,
  A400:#b45f06,
  A700:#b45f06,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);
// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$combat-counter-primary: mat-palette($mat-black);
$combat-counter-accent: mat-palette($mat-dark-red);

// The warn palette is optional (defaults to red).
$combat-counter-warn: mat-palette($mat-bonfire-orange);

// Create the theme object (a Sass map containing all of the palettes).
$combat-counter-theme: mat-light-theme($combat-counter-primary, $combat-counter-accent, $combat-counter-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($combat-counter-theme);

