<div class="fighterShell non-mobile">
  <p (click)="toggleHidden(fighter.hidden, fighter.id)" class="icon">
    <i matTooltip="Visible" [matTooltipDisabled]="tooltips.hidden" *ngIf="fighter.hidden === '0'"
      class="fas fa-eye"></i>
    <i matTooltip="Hidden" [matTooltipDisabled]="tooltips.hidden" *ngIf="fighter.hidden === '1'"
      class="fas fa-eye-slash"></i>
  </p>

  <div *ngIf="!editOn" class="icon">
    <div [ngStyle]="{background: fighter.colorcode}" class="fighterColor"></div>
  </div>
  <div *ngIf="editOn" class="icon editOnShell">
    <div [ngStyle]="{background: colorChange}"
      [cpPresetColors]="[fighter.colorcode, '#C91010', '#1076C9', '#2889e9', '#2FC910', '#C97310', '#9510C9', '#EB75E1', '#E5EB75']"
      [(colorPicker)]="colorChange" (colorPickerChange)="captureColor($event)" class="fighterColor editOn"></div>
  </div>

  <p *ngIf="!editOn" class="name" [ngClass]="{'broken' : broken, 'cautious' : cautious}">{{fighter.namefighter}}
    <i *ngIf="fatigued" matTooltip="Fatigued" class="fas fa-heart-broken"></i>
    <i *ngIf="panicked" matTooltip="Panicked" class="fas fa-heart-broken"></i>
  </p>
  <input *ngIf="editOn" (change)="captureChange($event, 'nameChange')" (keydown)="$event.stopPropagation()"
    class="name nameInput" value="{{nameChange}}" matTooltip="Panic Threshold">
  <div *ngIf="editOn" class="panicSelectShell">
    <p>{{fighter.panic | panicThresholds}}</p>
    <i class="fas fa-angle-down"></i>
    <div class="diceSelect">
      <p (click)="selectPanicThreshold(1)">Always</p>
      <p (click)="selectPanicThreshold(2)">Unsure</p>
      <p (click)="selectPanicThreshold(3)">Nervous</p>
      <p (click)="selectPanicThreshold(4)">Shaken</p>
      <p (click)="selectPanicThreshold(5)">Breaking</p>
      <p (click)="selectPanicThreshold(7)">Never</p>
    </div>
  </div>

  <div class="icon weaponSquareShell">
    <div class="sword-icon-shell">
      <img class="sword-icon" src="../../../../../../../assets/stiletto.svg">
    </div>
    <div class="weaponSquare {{!fighter.selected.maxrange ? 'meleeSquare' : 'rangedSquare'}}"
      (click)="openWeaponSelect(fighter.id, fighter.weapons)">
      <div class="weaponHeader">
        <p>{{fighter.selected.weapon}}</p><i class="fas fa-edit"></i>
      </div>
      <p class="speed">{{fighter.selected.speed}}</p>
      <p class="attack">{{fighter.selected.atk}}</p>
      <p class="init">{{fighter.selected.init}}</p>
      <div class="defense">
        <p class="defense-inner">{{fighter.selected.def}}</p>
        <div class="coverShell" *ngIf="fighter.selected.cover">
          <p class="shield"><i class="fa-solid fa-shield shieldIcon"></i> {{fighter.selected.cover}}</p>
        </div>
      </div>
      <p class="encumbrance">{{fighter.selected.damagetype}}</p>
      <div class="damageReduction">
        <p class="armor">{{fighter.selected.dr}}</p>
        <p *ngIf="fighter.selected.shield_dr && fighter.selected.shield_dr !== ' '" class="shield"><i class="fa-solid fa-shield shieldIcon"></i> {{fighter.selected.shield_dr}}</p>
      </div>
      <p class="measure">{{fighter.selected.maxrange ? (fighter.selected.maxrange / 6 | number:'1.0-0') + ' ri' :
        fighter.selected.measure}}</p>
      <p class="damage">{{fighter.selected.damage}}</p>
      <p *ngIf="!fighter.selected.maxrange" class="parry">{{fighter.selected.parry === 99 ? 'EUA' : fighter.selected.parry}}</p>
    </div>
  </div>

  <div *ngIf="!editOn" class="inputShell">
    <input *ngIf="fighter.woundCategory > 0" (change)="changeDamage($event, fighter.id)" value="{{fighter.health}}">
    <input *ngIf="fighter.woundCategory <= 0" (change)="changeDamage($event, fighter.id)" value="{{fighter.health}}"
      class="inputWithoutCategory">
    <p *ngIf="fighter.woundCategory === 1" matTooltip="Hurt" [matTooltipDisabled]="tooltips.wound_category_tier">H</p>
    <p *ngIf="fighter.woundCategory === 25" matTooltip="Bloodied" [matTooltipDisabled]="tooltips.wound_category_tier">B
    </p>
    <p *ngIf="fighter.woundCategory === 50" matTooltip="Wounded" [matTooltipDisabled]="tooltips.wound_category_tier">W
    </p>
    <p *ngIf="fighter.woundCategory === 75" matTooltip="Critical" [matTooltipDisabled]="tooltips.wound_category_tier">C
    </p>
    <div *ngIf="fighter.woundCategory === 100" matTooltip="Dead" [matTooltipDisabled]="tooltips.wound_category_tier"
      class="bleedingOutShell"><i class="fas fa-tint"></i>
    </div>
  </div>
  <div *ngIf="editOn" class="inputShell">
    <input id="editInput" matTooltip="Max Vitality" (change)="captureChange($event, 'maxHealthChange')"
      (keydown)="$event.stopPropagation()" value="{{maxHealthChange}}">
  </div>

  <div *ngIf="!editOn" class="inputShell">
    <input *ngIf="fighter.stressCategory > 0" (change)="changeStress($event, fighter.id)" class="stressInput"
      value={{fighter.stress}}>
    <input *ngIf="fighter.stressCategory <= 0" (change)="changeStress($event, fighter.id)" value="{{fighter.stress}}"
      class="inputWithoutCategory">
    <p *ngIf="fighter.stressCategory === 1" matTooltip="Unsure" [matTooltipDisabled]="tooltips.wound_category_tier">U
    </p>
    <p *ngIf="fighter.stressCategory === 25" matTooltip="Nervous" [matTooltipDisabled]="tooltips.wound_category_tier">N
    </p>
    <p *ngIf="fighter.stressCategory === 50" matTooltip="Shaken" [matTooltipDisabled]="tooltips.wound_category_tier">S
    </p>
    <p *ngIf="fighter.stressCategory === 75" matTooltip="Breaking" [matTooltipDisabled]="tooltips.wound_category_tier">B
    </p>
    <div *ngIf="fighter.stressCategory === 100" matTooltip="Broken" [matTooltipDisabled]="tooltips.wound_category_tier"
      class="bleedingOutShell"><i class="fas fa-tint"></i>
    </div>
  </div>

  <div *ngIf="editOn" class="inputShell">
    <input id="editInput" matTooltip="Stress Threshold" [matTooltipDisabled]="tooltips.stress_threshold"
      (change)="captureChange($event, 'stressThresholdChange')" (keydown)="$event.stopPropagation()"
      value="{{stessThresholdChange}}">
  </div>

  <button *ngIf="!fighter.actioncount.length" (click)="increaseAction()">{{fighter.selected.speed}}</button>
  <div *ngIf="fighter.actioncount.length" (click)="increaseActionToAboveCount()" class="increaseActionDiv"><i
      matTooltip="Increase Action to Count + 2" class="fas fa-exclamation-circle"></i></div>

  <p class="icon"><i (click)="jumpToCount()" class="fas fa-forward" matTooltip="Jump to Current Second"
      [matTooltipDisabled]="tooltips.jump_to_current_second"></i></p>

  <div *ngIf="fighter.actioncount.length" class="buttonShell">
    <button *ngIf="fighter.selected.init > 0" (click)="rollInitiative()"
      class="initButton">d{{fighter.actioncount[0]}}+{{fighter.selected.init}}</button>
    <button *ngIf="fighter.selected.init === 0" (click)="rollInitiative()"
      class="initButton">d{{fighter.actioncount[0]}}</button>
    <button *ngIf="fighter.selected.init < 0" (click)="rollInitiative()"
      class="initButton">d{{fighter.actioncount[0]}}{{fighter.selected.init}}</button>
    <button *ngIf="!fighter.selected.init && fighter.selected.init !== 0" (click)="rollInitiative()"
      class="initButton">d{{fighter.actioncount[0]}}</button>
    <div class="diceSelectShell">
      <i class="fas fa-angle-down"></i>
      <div class="diceSelect">
        <p (click)="selectInitDice(1)">d1</p>
        <p (click)="selectInitDice(4)">d4</p>
        <p (click)="selectInitDice(6)">d6</p>
        <p (click)="selectInitDice(8)">d8</p>
        <p (click)="selectInitDice(10)">d10</p>
        <p (click)="selectInitDice(12)">d12</p>
        <p (click)="selectInitDice(20)">d20</p>
      </div>
    </div>
  </div>

  <div *ngIf="!fighter.actioncount.length" class="inputShell">
    <input (change)="changeInitiative($event)" class="actionInput" [value]="fighter.actioncount">
  </div>

  <div *ngIf="trauma" class="icon">
    <input id="focusInput" (change)="enterTrauma($event)" (blur)="showTrauma()"
      matTooltip="Enter How Much They Failed By" [matTooltipDisabled]="tooltips.trauma_fail" class="actionInput">
  </div>
  <p *ngIf="!trauma" (click)="showTrauma()" class="icon"><i matTooltip="Trauma"
      [matTooltipDisabled]="tooltips.trauma_fighter" class="fas fa-frown"></i></p>

  <p class="icon" (click)="killFighter()"><i matTooltip="Kill" [matTooltipDisabled]="tooltips.kill_fighter"
      class="fas fa-skull-crossbones"></i></p>

  <p *ngIf="!editOn" (click)="toggleEdit()" class="icon"><i matTooltip="Edit"
      [matTooltipDisabled]="tooltips.edit_fighter" class="fas fa-edit"></i></p>
  <p *ngIf="editOn" (click)="toggleEdit()" class="icon"><i matTooltip="Save Changes"
      [matTooltipDisabled]="tooltips.trauma_fighter" class="fas fa-save"></i></p>
</div>
<!-- ---------------------------------------------------------------------------- -->
<!-- ---------------------------------------------------------------------------- -->
<!-- ---------------------------------------------------------------------------- -->
<!-- ---------------------------------------------------------------------------- -->
<!-- ---------------------------------------------------------------------------- -->
<div class="fighterShell mobile">
  <mat-expansion-panel
    [ngClass]="fighter.actioncount == counterService.count ? 'activeThisSecond ' : fighter.topcheck === '1' ? 'fighterTop ' : fighter.hidden === '1' ? 'fighterHidden ' : ''">
    <mat-expansion-panel-header (keydown.Space)="$event.stopImmediatePropagation();">
      <mat-panel-title>
        <div *ngIf="!editOn" class="mobileColoring">
          <div [ngStyle]="{background: fighter.colorcode}" class="fighterColor"></div>
        </div>
        <div *ngIf="editOn" class="icon editOnShell">
          <div [ngStyle]="{background: colorChange}"
            [cpPresetColors]="[fighter.colorcode, '#C91010', '#1076C9', '#2889e9', '#2FC910', '#C97310', '#9510C9', '#EB75E1', '#E5EB75']"
            [(colorPicker)]="colorChange" (colorPickerChange)="captureColor($event)" class="fighterColor editOn"></div>
        </div>

        <p *ngIf="!editOn" class="name" [ngClass]="{'broken' : broken, 'cautious' : cautious}">{{fighter.namefighter}}
        </p>
        <input *ngIf="editOn" (change)="captureChange($event, 'nameChange')" (keydown)="$event.stopPropagation()"
          class="name nameInput" value="{{nameChange}}">
      </mat-panel-title>
      <mat-panel-description>
        <div *ngIf="!editOn" class="inputShell">
          <input (change)="changeDamage($event, fighter.id)" value="{{fighter.health}}">
          <p *ngIf="fighter.woundCategory === 0" matTooltip="Fresh" [matTooltipDisabled]="tooltips.wound_category_tier">
            F</p>
          <p *ngIf="fighter.woundCategory === 1" matTooltip="Tired" [matTooltipDisabled]="tooltips.wound_category_tier">
            T</p>
          <p *ngIf="fighter.woundCategory === 25" matTooltip="Hurt" [matTooltipDisabled]="tooltips.wound_category_tier">
            H</p>
          <p *ngIf="fighter.woundCategory === 50" matTooltip="Blooded"
            [matTooltipDisabled]="tooltips.wound_category_tier">B
          </p>
          <p *ngIf="fighter.woundCategory === 75" matTooltip="Wounded"
            [matTooltipDisabled]="tooltips.wound_category_tier">W
          </p>
          <div *ngIf="fighter.woundCategory === 100" matTooltip="Bleeding Out"
            [matTooltipDisabled]="tooltips.wound_category_tier" class="bleedingOutShell"><i class="fas fa-tint"></i>
          </div>
        </div>
        <div *ngIf="editOn" class="inputShell">
          <input id="editInput" matTooltip="Max Vitality" (change)="captureChange($event, 'maxHealthChange')"
            (keydown)="$event.stopPropagation()" value="{{maxHealthChange}}">
        </div>

        <div *ngIf="!editOn" class="inputShell">
          <input (change)="changeStress($event, fighter.id)" class="stressInput" value={{fighter.stress}}>
        </div>
        <div *ngIf="editOn" class="inputShell">
          <input id="editInput" matTooltip="Stress Threshold" [matTooltipDisabled]="tooltips.stress_threshold"
            (change)="captureChange($event, 'stressThresholdChange')" (keydown)="$event.stopPropagation()"
            value="{{stessThresholdChange}}">
        </div>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div class="body">
      <div class="iconShell">
        <button *ngIf="!fighter.actioncount.length" (click)="increaseAction()">{{fighter.selected.speed}}</button>
        <div *ngIf="fighter.actioncount.length" (click)="increaseActionToAboveCount()" class="increaseActionDiv"><i
            matTooltip="Increase Action to Count + 2" class="fas fa-exclamation-circle"></i></div>

        <p><i (click)="jumpToCount()" class="fas fa-forward" matTooltip="Jump to Current Second"
            [matTooltipDisabled]="tooltips.jump_to_current_second"></i></p>

        <div *ngIf="fighter.actioncount.length" class="buttonShell">
          <button *ngIf="fighter.selected.init > 0" (click)="rollInitiative()"
            class="initButton">d{{fighter.actioncount[0]}}+{{fighter.selected.init}}</button>
          <button *ngIf="fighter.selected.init === 0" (click)="rollInitiative()"
            class="initButton">d{{fighter.actioncount[0]}}</button>
          <button *ngIf="fighter.selected.init < 0" (click)="rollInitiative()"
            class="initButton">d{{fighter.actioncount[0]}}{{fighter.selected.init}}</button>
          <button *ngIf="!fighter.selected.init && fighter.selected.init !== 0" (click)="rollInitiative()"
            class="initButton">d{{fighter.actioncount[0]}}</button>
          <div class="diceSelectShell">
            <i class="fas fa-angle-down"></i>
            <div class="diceSelect">
              <p (click)="selectInitDice(1)">d1</p>
              <p (click)="selectInitDice(4)">d4</p>
              <p (click)="selectInitDice(6)">d6</p>
              <p (click)="selectInitDice(8)">d8</p>
              <p (click)="selectInitDice(10)">d10</p>
              <p (click)="selectInitDice(12)">d12</p>
              <p (click)="selectInitDice(20)">d20</p>
            </div>
          </div>
        </div>

        <div *ngIf="!fighter.actioncount.length" class="inputShell">
          <input (change)="changeInitiative($event)" class="actionInput" [value]="fighter.actioncount">
        </div>
      </div>

      <div class="iconShell">
        <p (click)="toggleHidden(fighter.hidden, fighter.id)">
          <i matTooltip="Visible" [matTooltipDisabled]="tooltips.hidden" *ngIf="fighter.hidden === '0'"
            class="fas fa-eye"></i>
          <i matTooltip="Hidden" [matTooltipDisabled]="tooltips.hidden" *ngIf="fighter.hidden === '1'"
            class="fas fa-eye-slash"></i>
        </p>

        <div *ngIf="trauma" class="icon">
          <input id="focusInput" (change)="enterTrauma($event)" (blur)="showTrauma()"
            matTooltip="Enter How Much They Failed By" [matTooltipDisabled]="tooltips.trauma_fail" class="actionInput">
        </div>
        <p *ngIf="!trauma" (click)="showTrauma()" class="icon"><i matTooltip="Trauma"
            [matTooltipDisabled]="tooltips.trauma_fighter" class="fas fa-frown"></i></p>

        <p class="icon" (click)="killFighter()"><i matTooltip="Kill" [matTooltipDisabled]="tooltips.kill_fighter"
            class="fas fa-skull-crossbones"></i></p>
      </div>

      <div class="iconShell">
        <p>{{fighter.selected.weapon}}</p>
        <i class="fas fa-edit weaponEdit" (click)="openWeaponSelect(fighter.id, fighter.weapons)"></i>
      </div>
      <div class="weaponSquare {{!fighter.selected.maxrange ? 'meleeSquare' : 'rangedSquare'}}"
        (click)="openWeaponSelect(fighter.id, fighter.weapons)">
        <p class="speed">{{fighter.selected.speed}}</p>
        <p class="attack">{{fighter.selected.atk}}</p>
        <p class="init">{{fighter.selected.init}}</p>
        <p class="defense">{{fighter.selected.def}}</p>
        <p class="encumbrance">{{fighter.selected.damagetype}}</p>
        <div class="damageReduction">
          <p class="armor">{{fighter.selected.dr}}</p>
          <p *ngIf="fighter.selected.shield_dr" class="shield"><i
              class="fa-solid fa-shield shieldIcon"></i>{{fighter.selected.shield_dr}}</p>
        </div>
        <p class="measure">{{fighter.selected.maxrange ? (fighter.selected.maxrange / 6 | number:'1.0-0') + ' ri' :
          fighter.selected.measure}}</p>
        <p class="damage">{{fighter.selected.damage}}</p>
        <p *ngIf="!fighter.selected.maxrange" class="parry">{{fighter.selected.parry === 99 ? 'EUA' : fighter.selected.parry}}</p>
      </div>

      <p *ngIf="!editOn" (click)="toggleEdit()" class="icon"><i matTooltip="Edit"
          [matTooltipDisabled]="tooltips.edit_fighter" class="fas fa-edit"></i></p>
      <p *ngIf="editOn" (click)="toggleEdit()" class="icon"><i matTooltip="Save Changes"
          [matTooltipDisabled]="tooltips.trauma_fighter" class="fas fa-save"></i></p>
    </div>
  </mat-expansion-panel>

</div>