<p (click)="toggleHidden(fighter.hidden, fighter.id)" class="icon">
  <i matTooltip="Visible" *ngIf="fighter.hidden === '0'" class="fas fa-eye"></i>
  <i matTooltip="Hidden" *ngIf="fighter.hidden === '1'" class="fas fa-eye-slash"></i></p>

<div class="icon">
  <div [ngStyle]="{background: fighter.colorcode}" class="fighterColor"></div>
</div>

<p class="name">{{fighter.namefighter}}</p>

<div class="icon weaponSquareShell">
  <i class="fas fa-shield-alt"></i>
  <div class="weaponSquare" (click)="openWeaponSelect(fighter.id, fighter.weapons)">
    <div class="weaponHeader">
      <p>{{fighter.selected.weapon}}</p><i (click)="openWeaponSelect(fighter.id, fighter.weapons)"
        class="fas fa-edit"></i>
    </div>
    <p class="speed">{{fighter.selected.speed}}</p>
    <p class="attack">{{fighter.selected.atk}}</p>
    <p class="init">{{fighter.selected.init}}</p>
    <p class="defense">{{fighter.selected.def}}</p>
    <p class="encumbrance">{{fighter.selected.encumb}}</p>
    <div class="damageReduction">
      <p class="armor">{{fighter.selected.dr}}</p>
      <p *ngIf="fighter.selected.shield_dr" class="shield"><i
          class="fas fa-shield-alt shieldIcon"></i>{{fighter.selected.shield_dr}}</p>
    </div>
    <p class="measure">{{fighter.selected.measure}}</p>
    <p class="damage">{{fighter.selected.damage}}</p>
    <p class="parry">{{fighter.selected.parry}}</p>
  </div>
</div>

<div class="inputShell">
  <input (change)="changeDamage($event, fighter.id)" value="{{fighter.health}}">
  <p *ngIf="fighter.woundCategory === 0" matTooltip="Fresh">F</p>
  <p *ngIf="fighter.woundCategory === 1" matTooltip="Tired">T</p>
  <p *ngIf="fighter.woundCategory === 25" matTooltip="Hurt">H</p>
  <p *ngIf="fighter.woundCategory === 50" matTooltip="Blooded">B</p>
  <p *ngIf="fighter.woundCategory === 75" matTooltip="Wounded">W</p>
  <div *ngIf="fighter.woundCategory === 100" matTooltip="Bleeding Out"><i class="fas fa-tint"></i>
  </div>
</div>

<div class="inputShell">
  <input (change)="changeStress($event, fighter.id)" class="stressInput" value={{fighter.stress}}>
  <p *ngIf="fighter.woundCategory === 0" matTooltip="Stress From Wounds" class="stressEncumbrancePenalty">+0</p>
  <p *ngIf="fighter.woundCategory === 1" matTooltip="Stress From Wounds" class="stressEncumbrancePenalty">
    +{{fighter.selected.encumb}}</p>
  <p *ngIf="fighter.woundCategory === 25" matTooltip="Stress From Wounds" class="stressEncumbrancePenalty">
    +{{fighter.selected.encumb * 2}}</p>
  <p *ngIf="fighter.woundCategory === 50" matTooltip="Stress From Wounds" class="stressEncumbrancePenalty">
    +{{fighter.selected.encumb * 3}}</p>
  <p *ngIf="fighter.woundCategory === 75" matTooltip="Stress From Wounds" class="stressEncumbrancePenalty">
    +{{fighter.selected.encumb * 4}}</p>
  <div *ngIf="fighter.woundCategory === 100" matTooltip="Bleeding Out"><i class="fas fa-tint"></i>
  </div>
</div>

<button *ngIf="!fighter.actioncount.length" (click)="increaseAction()">{{fighter.selected.speed}}</button>
<button *ngIf="fighter.actioncount.length" class="disabledButton">{{fighter.selected.speed}}</button>

<p class="icon"><i (click)="jumpToCount()" class="fas fa-forward" matTooltip="Jump to Current Second"></i></p>

<div *ngIf="fighter.actioncount.length" class="buttonShell">
  <button *ngIf="fighter.selected.init > 0" (click)="rollInitiative()"
    class="initButton">d{{fighter.actioncount[0]}}+{{fighter.selected.init}}</button>
  <button *ngIf="fighter.selected.init === 0" (click)="rollInitiative()"
    class="initButton">d{{fighter.actioncount[0]}}</button>
  <button *ngIf="fighter.selected.init < 0" (click)="rollInitiative()"
    class="initButton">d{{fighter.actioncount[0]}}{{fighter.selected.init}}</button>
  <div class="diceSelectShell">
    <i class="fas fa-angle-down"></i>
    <div class="diceSelect">
      <p (click)="selectInitDice(1)">d1</p>
      <p (click)="selectInitDice(4)">d4</p>
      <p (click)="selectInitDice(6)">d6</p>
      <p (click)="selectInitDice(8)">d8</p>
      <p (click)="selectInitDice(10)">d10</p>
      <p (click)="selectInitDice(12)">d12</p>
      <p (click)="selectInitDice(20)">d20</p>
    </div>
  </div>

</div>
<div *ngIf="!fighter.actioncount.length" class="inputShell">
  <input (change)="changeInitiative($event)" class="actionInput" [value]="fighter.actioncount">
</div>

<p class="icon"><i matTooltip="Trauma" class="fas fa-frown"></i></p>
<p class="icon"><i matTooltip="Kill" class="fas fa-skull-crossbones"></i></p>
<p class="icon"><i matTooltip="Edit" class="fas fa-edit"></i></p>